<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-admin-tab-bar">
    <ion-tab-button tab="dashboard" href="/admin/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies" href="/admin/movies">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users" href="/admin/users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Utilisateurs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/admin/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
