<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="movies" href="/tabs/movies">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playlist" href="/tabs/playlist">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Ma playlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matching" href="/tabs/matching">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Matching</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
